{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>CRUD</title>
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css'%}">
</head>
<body>
	<div class="container mt-5">
		<h2 class="text-center alert alert-danger">CRUD Application</h2>
		{% block content %}
		{% endblock content %}
	</div>

<script src="{% static 'website/js/jquery.js' %}"></script>
<script src="{% static 'website/js/popper.js' %}"></script>
<script src="{% static 'website/js/bootstrap.js' %}"></script>
</body>
</html>